[submodule "code/analysis/ann/fann"]
	path = code/analysis/ann/fann
	url = git@github.com:libfann/fann.git
[submodule "masters-dataset"]
	path = masters-dataset
	url = git@hf.co:datasets/ErFer7/masters-dataset
